.bg-wrapper {
    background-image: url('../images/day-care-hero-blobs-background.svg');
    background-position: top right;
    background-repeat: no-repeat;
}

.section-wrapper {
    padding: 10rem 0 20rem 0;
}

.content-box {
    max-width: 70%;
}

.content-box h6 {
    font-size: 1.8rem;
    text-transform: uppercase;
    letter-spacing: .3rem;
    padding-bottom: 1.3rem;
    font-weight: bold;
}

.content-box h1 {
    font-size: 4.5rem;
    color: var(--orange);
    padding-bottom: 1rem;
    font-weight: bolder;
}

.content-box p {
    padding-bottom: 1.5rem;
    font-size: 1.7rem;
    color: rgba(0, 0, 0, .5);
    /* line-height: 2.2rem; */
}

.content-box .enrolbtn {
    font-size: 1.7rem;
    padding: 1.3rem 3rem;
    border-radius: 3rem;
    transition: background-color 0.3s ease;
}

.content-box .enrolbtn:hover {
    border-color: var(--orange) !important;
}

.content-box .rating {
    color: var(--orange);
    font-size: 1.5rem;
    letter-spacing: .2rem;
    padding-bottom: .5rem;
}

.content-box .rating-text {
    font-size: 1.3rem;
    color: rgba(0, 0, 0, .5);
    font-weight: normal;
}

.content-box .contact {
    font-size: 2.5rem;
    color: var(--black);
    font-weight: 500;
}

.content-box .contact i {
    color: var(--orange);
    margin-right: .5rem;
}

.img-container {
    position: relative;
}


.img-container .left-img img {
    border-radius: 1rem;
    margin-top: 5rem;
    max-width: 100%;
}

.img-container .stack-img {
    position: absolute;
    bottom: -13rem;
    border-radius: 1rem;
    right: 6rem;
}

.about-box {
    max-width: 80%;
}

.about-box p {
    text-align: justify;
}

.more-btn {
    display: inline-block;
    font-size: 1.8rem;
    color: var(--black);
    font-weight: 500;
    border: 1px solid var(--black);
    border-radius: 50px;
    padding: 1.5rem 3rem;
    text-align: center;
    margin-top: 1.5rem;
    transition: all 0.3s ease;
}

.more-btn:hover {
    background-color: var(--black);
    color: var(--white);
}

.about-img {
    border-radius: 2.4rem;
    width: 100%;
    padding: 8%;
}

.about-img:hover {
    animation: zoomInOut 1.2s infinite ease-in-out;

}



@keyframes zoomInOut {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.20);
        /* Adjust scale as needed */
    }

    100% {
        transform: scale(1);
    }
}




/* History Section */
.history-wrapper {
    background-image: url('../images/home/bg-image.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}


.history-wrapper .bg-overlay {
    background-color: rgba(74, 42, 126, 0.7);
}

.history-box {
    padding-top: 7rem;
    padding-bottom: 4rem;
}

.history-box h6 {
    color: var(--orange);
    font-size: 16px;
    padding-bottom: .5rem;
    font-weight: bold;
}

.history-box h1 {
    color: var(--white);
    font-size: 30px;
    padding-bottom: 4px;
    font-weight: bolder;
}


.history-box p {
    color: var(--white);
    font-size: 16px;
    font-weight: 400;
    margin-top: 10px;
    padding-bottom: 40px;
}

.counter-icons svg {
    fill: var(--white);
    height: 70px;
    width: 70px;
}


.counter-digit {
    color: var(--orange);
    font-size: 30px;
    font-weight: bold;
    margin-top: 10px;
}


.counter-title {
    color: var(--white);
    font-size: 17px;
    font-weight: 500;
}

.apply-box {
    background-color: var(--orange);
    padding: 30px 30px;
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: -38px;
}

.apply-box h1 {
    font-size: 18px;
}

.apply-btn {
    background-color: var(--blue);
    color: var(--white);
    padding: 10px 20px;
    font-size: 15px;
    border-radius: 5px;
    font-weight: bold;
    text-wrap: nowrap;
}


/* .Choose institue */
.choose-wrapper {
    background-color: #e6e6e6;
    padding: 8rem 0;
}


.tab-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    overflow: hidden;
}

.tab-img .img3 {
    height: 453px;
}

.tab-wrapper {
    display: flex;
    flex-wrap: wrap;
}

.tab-wrapper .tab-btn {
    padding: 24px 40px 24px;
    font-size: 17px;
    font-weight: 700;
    border: none;
    background-color: #f7f7f7;
}

.tab-wrapper .active {
    background-color: var(--white);
}


.tab-content-wrapper {
    background-color: var(--white);
    padding: 30px 20px
}


.tab-content h1 {
    font-size: 25px;
    color: var(--blue);
    font-weight: 500;
    margin-bottom: 25px;
}


.tab-content p {
    color: rgba(0, 0, 0, 0.6);
    font-size: 15px;
    margin-bottom: 20px;
}

.tab-content ul {
    list-style-type: decimal;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.6);
    margin-bottom: 20px;
    font-weight: bold;
    margin-left: 20px;
}

.c1 {
    height: 634px;
}

.c2 {
    height: 453px;
}

.c3 {
    height: 321px;
}

.c4 {
    height: 281px;
}

/* `xl` applies to large devices (desktops, less than 1200px) */
@media (max-width: 1399.98px) {
    /* .Choose institue */

    .tab-img .img1 {
        height: 850px;
    }

    .tab-img .img2 {
        height: 660px;
    }

    .tab-img .img3 {
        height: 528px;
    }

    .tab-img .img4 {
        height: 490px;
    }

}


/* `lg` applies to medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {

    .img-container .stack-img {
        right: -20%;
        top: 50%;
    }


    .content-box p {
        font-size: 13px;
    }

}

/* `md` applies to small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {

    .img-container .stack-img {
        right: -5%;
        top: 80%;
    }

    .content-box {
        max-width: 100%;
    }


    .section-wrapper {
        padding-bottom: 330px;
    }

    .about-img {
        padding: 3%;
    }


    /* history css */
    .apply-box {
        padding: 20px 25px;
        flex-direction: column;
        gap: 10px;
        justify-content: center;
    }

    .apply-box h1 {
        text-align: center;
    }


    /* .Choose institue */
    .tab-wrapper .tab-btn {
        padding: 15px 9px;
        font-size: 14px;
    }


    .c1,
    .c2,
    .c3,
    .c4 {
        height: initial;
    }



}