.bg-wrapper {
    background-image: url('../images/day-care-hero-blobs-background.svg');
    background-position: top right;
    background-repeat: no-repeat;
}

.section-wrapper {
    padding: 10rem 0 20rem 0;
}

.content-box {
    max-width: 70%;
}

.content-box h6 {
    font-size: 1.8rem;
    text-transform: uppercase;
    letter-spacing: .3rem;
    padding-bottom: 1.3rem;
    font-weight: bold;
}

.content-box h1 {
    font-size: 4.5rem;
    color: var(--orange);
    padding-bottom: 1rem;
    font-weight: bolder;
}

.content-box p {
    padding-bottom: 1.5rem;
    font-size: 1.7rem;
    color: rgba(0, 0, 0, .5);
    /* line-height: 2.2rem; */
}

.content-box .enrolbtn {
    font-size: 1.7rem;
    padding: 1.3rem 3rem;
    border-radius: 3rem;
    transition: background-color 0.3s ease;
}

.content-box .enrolbtn:hover {
    border-color: var(--orange) !important;
}

.content-box .rating {
    color: var(--orange);
    font-size: 1.5rem;
    letter-spacing: .2rem;
    padding-bottom: .5rem;
}

.content-box .rating-text {
    font-size: 1.3rem;
    color: rgba(0, 0, 0, .5);
    font-weight: normal;
}

.content-box .contact {
    font-size: 2.5rem;
    color: var(--black);
    font-weight: 500;
}

.content-box .contact i {
    color: var(--orange);
    margin-right: .5rem;
}

.img-container {
    position: relative;
}


.img-container .left-img img {
    border-radius: 1rem;
    margin-top: 5rem;
    max-width: 100%;
}

.img-container .stack-img {
    position: absolute;
    bottom: -13rem;
    border-radius: 1rem;
    right: 6rem;
}

.about-box {
    max-width: 80%;
}

.about-box p {
    text-align: justify;
}

.more-btn {
    display: inline-block;
    font-size: 2.3rem;
    color: var(--black);
    font-weight: 500;
    border: 1px solid var(--black);
    border-radius: 50px;
    padding: 1.3rem 2.5rem;
    text-align: center;
    margin-top: 1.5rem;
    transition: all 0.3s ease;
}

.more-btn:hover {
    background-color: var(--black);
    color: var(--white);
}

.about-img {
    border-radius: 2.4rem;
    width: 100%;
    padding: 8%;
}

.about-img:hover {
    animation: zoomInOut 1.2s infinite ease-in-out;

}



@keyframes zoomInOut {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.20);
        /* Adjust scale as needed */
    }

    100% {
        transform: scale(1);
    }
}


/* `lg` applies to medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {

    .img-container .stack-img {
        right: -20%;
        top: 50%;
    }


    .content-box p {
        font-size: 13px;
    }

}

/* `md` applies to small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {

    .img-container .stack-img {
        right: -5%;
        top: 80%;
    }

    .content-box {
        max-width: 100%;
    }


    .section-wrapper {
        padding-bottom: 330px;
    }

    .about-img {
        padding: 3%;
    }

}